<!-- <div class="wrapper d-flex align-items-stretch">
    <nav id="sidebar">
        <div class="p-4 pt-5">
          <a class="img logo rounded-circle mb-5" style="background-image: url(assets/login.jpg);"></a>
    <ul class="list-unstyled components mb-5">
      <li class="active">
        <a href="#homeSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Home</a>
        <ul class="collapse list-unstyled" id="homeSubmenu">
        </ul>
      </li>
      <li>
        <a href="#" routerLink="/gadgets">Gadgets</a>
        </li>
      <li>
        <a href="#" routerLink="/createTicket">Raise Ticket</a>
      </li>
      <li>
        <a href="#" routerLink="/login">Logout</a>
      </li>
    </ul>
  </div>
</nav>
<div id="content" class="p-4 p-md-5">
</div>
    <script src="assets/js/jquery.min.assets/js"></script>
    <script src="assets/js/popper.assets/js"></script>
    <script src="assets/js/bootstrap.min.assets/js"></script>
    <script src="assets/js/main.assets/js"></script> -->